<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<true/>
	<key>appNew</key>
	<true/>
	<key>appMessage</key>
	<string>Download the best ringtone app for iPhone for FREE now!.</string>
	<key>appURL</key>
	<string>https://apps.apple.com/app/id1590829668</string>
</dict>
</plist>
