<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appID</key>
	<true/>
	<key>appNew</key>
	<false/>
	<key>appMessage</key>
	<string>Please update to the new version, for the best experience.</string>
	<key>appURL</key>
	<string>https://apps.apple.com/app/id1565818360</string>
</dict>
</plist>
