<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appUpdate</key>
	<true/>
	<key>appShowAd</key>
	<true/>
	<key>appShowHomePage</key>
	<false/>
	<key>appSaveFile</key>
	<false/>
	<key>appLockInApp</key>
	<false/>
	<key>appHaveNewApp</key>
	<true/>
	<key>appMessageNewApp</key>
	<string>Download the best ringtone app for iPhone for FREE now!.</string>
	<key>appURLNewApp</key>
	<string>https://apps.apple.com/app/id1590829668</string>
</dict>
</plist>
