<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>1566696551</string>
	<key>app_name</key>
	<string>Ringtones</string>
	<key>key_app_update</key>
	<string>key_app_update</string>
	<key>key_inapp_purchased</key>
	<string>key_inapp_purchased</string>
	<key>id_inapp_purchase</key>
	<string></string>
	<key>id_inapp_purchase_week</key>
	<string>com.nuoibui.hoaquason.weekly</string>
	<key>id_inapp_purchase_month</key>
	<string>com.nuoibui.hoaquason.monthly</string>
	<key>id_inapp_purchase_year</key>
	<string>com.nuoibui.hoaquason.yearly</string>
	<key>url_term_of_use</key>
	<string>https://sites.google.com/view/ringtonestermofuse</string>
	<key>url_privacy_policy</key>
	<string>https://sites.google.com/view/ringtonesprivacy</string>
	<key>url_app_update</key>
	<string>https://raw.githubusercontent.com/kidanh/apps/master/0.txt</string>
	<key>number_max_click_show_ad</key>
	<integer>6</integer>
	<key>app_email_support</key>
	<string>vnmobileapps.support@gmail.com</string>
</dict>
</plist>
